:root {
    --bg-color: rgb(20 20 20);
}

body {
    background-color: var(--bg-color);
}

.img-logo {
    width: 100px;
}

.navbar {
    background-color: var(--bg-color);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

.profile-picture {
    height: 30px;
}

.container-fluid {
    overflow: hidden;
    background-color: var(--bg-color);
    padding-left: 0;
}

h1 {
    color: white;
    font-size: 36px;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}


.btn-group {
    border: 1px solid white;
}

.btn {
    background-color: var(--bg-color);
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.movie-img {}

.carousel-item {
    overflow: hidden;
    white-space: nowrap;
}


.container {
    margin-top: 150px;
}

.bottom-icon {
    font-size: 2rem;
    color: rgb(128 128 128);
}


.bottom-text {
    font-size: 12px;
    color: rgb(128 128 128);
}

.btn.btn-secondary.ml-3.mt-3 {
    color: rgb(128 128 128);
}