:root {
    --bg-color: rgb(20 20 20);
}

body {
    background-color: var(--bg-color);
}

.img-logo {
    width: 100px;
}

.navbar {
    background-color: var(--bg-color);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

.profile-picture {
    height: 30px;
}

.container-fluid {
    overflow: hidden;
    background-color: var(--bg-color);
    padding-left: 0;
}

h1 {
    color: white;
    font-size: 36px;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}


.btn-group {
    border: 1px solid white;
}

.btn {
    background-color: var(--bg-color);
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.carousel-item {

    white-space: nowrap;
}


.container {
    margin-top: 150px;
}

.bottom-icon {
    font-size: 2rem;
    color: rgb(128 128 128);
}


.bottom-text {
    font-size: 12px;
    color: rgb(128 128 128);
}

.btn.btn-secondary.ml-3.mt-3 {
    color: rgb(128 128 128);
}

.card {
    position: absolute;
    transition: transform 0.25s ease;
    transform: translateX(0px);
    border: none;
    background-color: var(--bg-color);

}

.card-body {
    transition: 0.25s;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding-bottom: 10px;
}

.movie-img.img-fluid {
    border-radius: 2px;
}

.card:hover {
    z-index: 2;
    transition: transform 0.25s;
    transform: translatey(-3vw) scale(1.5);
}

.card:hover .card-body {
    opacity: 1;
}

.carousel-inner {
    overflow: visible;
}

.video-icon-row {
    color: white;
    font-size: 25px;
}

.video-text-row {
    display: flex;
    align-items: center;
}


.video-description {
    color: #46d369;
    font-size: 0.75rem;
}

.age-rating {
    color: white;
    font-size: 0.75rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
}

.video-length {
    color: white;
    font-size: 0.75rem;
}

.player-feature-badge {
    align-self: center;
    color: hsla(0, 0%, 100%, .9);
    font-size: 0.5rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 3px;
}

.video-text-row-lower {
    font-size: 0.75rem;
    color: white;
}

.middle-dot {
    font-size: 20px;
    color: gray;
}

/* .profile-picture {
    transition: .5s ease-in-out;
}

.nav-item.mr-5.d-none.d-lg-block:hover .profile-picture {
    rotate: 180deg;

} */

.hover-profile {
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    right: 70px;
    top: 70px;
    border: 1px solid rgb(65, 64, 64);
}

.for-hover-profile {
    right: 96px;
    top: 53px;
    z-index: 2;
    position: absolute;
    font-size: 16px;
    color: white;
}

.hover-profile>.row {
    opacity: 1;
    color: white;
}

.bottom-border {
    border-bottom: 1px solid rgb(65, 64, 64);
}

.hover-profile i {
    font-size: 23px;
}

.account-info {
    opacity: 0;
}

.row.pl-4 {
    cursor: pointer;
}